# compiled output
/node_modules

# dotenv environment variable files
.env

# Ignore all logfiles and tempfiles.
/tmp/*
!/tmp/.keep

# Ignore storage (uploaded files in development).
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep
